
<%- include('../includes/head.ejs') %>
</head>

<body>
 <%- include('../includes/navigation.ejs') %>

 <main class="center">
    <h3><%= product.title %></h3>
    <hr>
    <div>
        <img src="<%= product.image %>" alt="<%= product.title %>">
    </div>

    <h4><%= product.price %></h4>
    <p><%= product.desc %></p>

    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
 </main>

 <%- include('../includes/end.ejs') %>